body { margin: 8px; font-family: sans-serif; }

/* Screen layout */
#wrapper { position: relative; }
@media only screen and (max-width: 524px) {
    #map { position:relative; width: 100%; height: 0; padding-bottom: 90%; }
}
@media only screen and (min-width: 525px) and (max-width:849px) {
    #map { position:relative; width: 500px; height: 450px; margin:0 auto; }
}
@media only screen and (max-height:464px) and (min-width: 850px)
{
    #map { position:relative; width: 500px; height: 450px; }
    #legend { position:absolute; left: 510px; top: 0; }
}
@media only screen and (min-height: 465px) and (min-width: 850px) {
    #map { position:fixed; width:500px ; height: 450px; }
    #legend { position:absolute; left: 510px; top: 0; }
}
#legend { padding-top: 20px; }

/* Text formatting */
div.header { font-size: 125%; font-weight: bold;  }

/* Map formatting */
#resetdiv { position:absolute; right:0; bottom:0; text-align: right; }
#hovertext { position:absolute; left:0; bottom:0; }

.background { fill: none; pointer-events: all; }
.prov-border, .dist-border, .muni-border { fill: none; stroke: white; stroke-linejoin: round; stroke-linecap:round; }

.province, .district, .muni { fill: gray; stroke: none; }
.winner-ANC { fill: #66c2a5; }
.winner-DA { fill: #8da0cb; }
.winner-IFP { fill: #fc8d62; }
.nation { display: none; fill: none; stroke: none; }


#hoverobj { fill: white; stroke:none; fill-opacity: 0.5; pointer-events: none; }
#selpath { fill: white; stroke:none; fill-opacity: 0.3; pointer-events: none; }
